$tema-principal: #f1f1f1;
$surface: #7E7E7E;
$branco-smooth: #EEEEEE;
$text-shadow: rgba(0, 0, 0, 0.25);
$input: #EBEBEB;
$positivo: #008B0E;
$negativo: #CC0000;
$media: 767px;
$media550: 550px;
$blur: 2px;
$escuro: rgba(0, 0, 0, 0.25);