@import 'styles/_variaveis.scss';


.cabecalho {
  min-height: calc(100vh - 50px);
  z-index: -2;

  &__div {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    width: 200px;
    margin: 2rem auto;
    text-align: center;
  }
  &__titulo--mobile {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
    color: $surface;
    text-shadow: 0px 2px 4px $text-shadow;
  }
}

.mobile1 {
  width: 0;
  display: block;
  margin: 0 auto;
  animation: mobileEffect forwards 1.5s;
  animation-timing-function: steps(1000, jump-none);
  animation-delay: 1s;
  white-space: nowrap;
  overflow-x: hidden;
}
.mobile2 {
  width: 0;
  display: block;
  margin: 0 auto;
  animation: mobileEffect forwards 1.5s;
  animation-timing-function: steps(1000, jump-none);
  animation-delay: 2.3s;
  white-space: nowrap;
  overflow-x: hidden;
}

@keyframes mobileEffect {
  to {
    width: 200px;
  }
}

.botaoaplicativo__div {
  margin: 2rem auto;
  width: 120px;
}


.baixar__aplicativo {
  width: 120px;
  text-shadow: 0px 2px 4px $text-shadow;
  padding: .6rem 1.2rem;
  background-color: $negativo;
  border: none;
  opacity: 0;
  animation: aparecer 500ms forwards;
  animation-delay: 3.5s;
  border-radius: 2px;
  font-weight: 800;
  color: $tema-principal;
  box-shadow: 0px 2px 4px $text-shadow;
}
@keyframes aparecer {
  to {
    opacity: 1;
  }
}
.titulo__desktop {
  display: none;
}


.planilha {
  position: relative;
  z-index: 1;
  background-image: url('../../assets/img/background-topo--mobile.png');
  min-height: 226px;
  height: 60vw;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  &__titulo {
    color: $tema-principal;
    text-shadow: 0px 2px 4px $text-shadow;
    text-align: center;
    line-height: 1.3rem;
  }

}

.planilha__divtitulo {
  position: absolute;
  left: 50%;
  margin-top: 15%;
  transform: translate(-50%);
  width: 70%;
}

.video__div--mobile {
  z-index: -2;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 100%;
}

.video__mobile {
  display: block;
  opacity: 0;
  animation: aparecer 1s forwards;
  animation-delay: 4s;
  position: absolute;
  z-index: -2;

  width: 100%;
}
.video__div--desktop {
  display: none;
}
.video__desktop {
  display: none;
}
.logo__desktop {
  display: none;
}

.planilha__divbotao {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30%;
}

.baixar__planilha {
  border: none;
  background-color: $negativo;
  padding: .6rem 1.2rem;  
  color: $tema-principal;
  font-weight: 800;
  border-radius: 2px;
  text-shadow: 0px 2px 4px $text-shadow;
  box-shadow: 0px 2px 4px $text-shadow;
}

.porqueusar {
  padding: 4rem 1rem;
  width: 80%;
  margin: 0 auto;
  &__titulo {
    color: $positivo;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-shadow: 0px 2px 4px $text-shadow;

  }
  &__paragraph {
    color: $surface;
    font-weight: 400;
    font-size: 14px;
    text-indent: 30px;
    margin: 1rem;
    text-align: justify;
    text-shadow: 0px 2px 4px $text-shadow;
    line-height: 1.3rem;
  }
}



@media(min-width: $media550) {

  .planilha {
    &__titulo {
      font-size: 1.3rem;
    }
  }
  .porqueusar {
    padding: 3rem;
    margin: 0 auto;
    width: 70%;
    &__titulo {
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }
    &__paragraph {
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }

  .baixar__planilha {
    font-size: 1.3rem;
    border-radius: 3px;
  }
}
@media(min-width: $media) {
  .botao {
    transition-duration: 500ms;
  }
  .botao:hover {
    opacity: .6;
    transform: scale(1.1);
    cursor: pointer;
  }
  .cabecalho {
    height: calc(100vh - 50px);
    &__titulo--mobile, .baixar__aplicativo, .video__mobile, .video__div--mobile {
      display: none;
    }
    &__div {
      position: static;
      display: flex;
    }
  }
  .titulo__desktop {
    position: absolute;
    bottom: 18vw;
    width: 30vw;
    left: 7%;
    display: block;
  }
  .titulo__paragraph {
    text-align: justify;
    height: 1.9vw;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.5rem;
    color: $surface;
    text-shadow: 0px 2px 4px $text-shadow;
  }
  .titulo__paragraph1 {
    animation: p1 1.5s forwards;
    animation-timing-function: steps(1000, jump-none);
    animation-delay: 1s;
    width: 0;
    white-space: nowrap;
    text-indent: 30px;
    overflow-x: hidden;
  }
  .titulo__paragraph2 {
    animation: p2 1.7s forwards;
    animation-timing-function: steps(1000, jump-none);
    animation-timing-function: none;
    width: 0;
    animation-delay: 2.4s;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .titulo__paragraph3 {
    animation: p3 1s forwards;
    width: 0;
    animation-timing-function: steps(1000, jump-none);
    animation-delay: 4s;
    overflow-x: hidden;
    white-space: nowrap;
  }
  @keyframes p1 {
    from {
      width: 0;
    } to {
      width: 31vw;
    }
  }
  @keyframes p2 {
    from {
      width: 0;
    } to {
      width: 29vw;
    }
  }
  @keyframes p3 {
    from {
      width: 0;
    } to {
      width: 17vw;
    }
  }
  .video__div--desktop {
    position: absolute;
    z-index: -2;
    display: block;
    left: 6.5rem;
    width: 60vw;
    bottom: -32.5rem;
    opacity: 0;
    animation: aparecer 500ms forwards;
    animation-delay: 500ms;
  }
  .video__desktop {
    display: block;
    width: 100%;
  }
  .logo__desktop {
    width: 20vw;
    left: 10vw;
    bottom: 35vw;
    position: absolute;
    display: block;
  }
  .planilha {
    background-image: url('../../assets/img/background-topo--desktop.png');
    height: 30vw;
    margin-top: -2rem;
  }
  .planilha__divtitulo {
    margin-top: 8%;
    width: 30%;
  }
  .planilha__divbotao {
    margin-top: 14%;
  }
  .porqueusar {
    padding: 5rem;
    width: 50%;
    &__titulo {
      font-size: 1.5rem;
      text-align: left;
    }
    &__paragraph {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }

}

