@import 'styles/_variaveis.scss';


.cabecalho {
  height: calc(100vh - 60px);
  z-index: -2;

  &__div {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    width: 200px;
    margin: 2rem auto;
    text-align: center;
  }
  &__titulo--mobile {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
    color: $surface;
    text-shadow: 0px 2px 4px $text-shadow;
  }
}
.botaoaplicativo__div {
  margin: 2rem auto;
  width: 120px;
}


.baixar__aplicativo {
  width: 120px;
  text-shadow: 0px 2px 4px $text-shadow;
  padding: .6rem 1.2rem;
  background-color: $negativo;
  border: none;
  border-radius: 2px;
  font-weight: 800;
  color: $tema-principal;
  box-shadow: 0px 2px 4px $text-shadow;
}

.planilha {
  position: relative;
  z-index: 1;
  background-image: url('../../assets/img/background-topo--mobile.png');
  min-height: 226px;
  height: 60vw;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  &__titulo {
    color: $tema-principal;
    text-shadow: 0px 2px 4px $text-shadow;
    text-align: center;
    line-height: 1.3rem;
  }

}

.planilha__divtitulo {
  position: absolute;
  left: 50%;
  margin-top: 15%;
  transform: translate(-50%);
  width: 70%;
}

.video__div--mobile {
  z-index: -2;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 100%;
}

.video__mobile {
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
}

.planilha__divbotao {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30%;
}

.baixar__planilha {
  border: none;
  background-color: $negativo;
  padding: .6rem 1.2rem;  
  color: $tema-principal;
  font-weight: 800;
  border-radius: 2px;
  text-shadow: 0px 2px 4px $text-shadow;
  box-shadow: 0px 2px 4px $text-shadow;
}

.porqueusar {
  padding: 2rem 1rem;
  width: 80%;
  margin: 0 auto;
  &__titulo {
    color: $positivo;
    font-size: 1.1rem;
    text-shadow: 0px 2px 4px $text-shadow;

  }
  &__paragraph {
    color: $surface;
    font-weight: 400;
    font-size: 14px;
    text-indent: 30px;
    margin: 1rem;
    text-align: justify;
    text-shadow: 0px 2px 4px $text-shadow;
    line-height: 1.3rem;
  }
}

.rodape {
  background-image: url('../../assets/img/background-bottom--mobile.png');
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 226px;
  height: 60vw;
  background-size: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 50%;
    margin-top: 20%;
    height: 20%;
    text-align: center;
    transform: translate(-50%);
    position: absolute;
    width: 70%;
  }
  &__imagem {
    width: 30%;
  }
  &__paragraph {
    font-size: 14px;
    font-weight: 400;
    color: $tema-principal;
    text-shadow: 0px 2px 4px $text-shadow;
  }
}

@media(min-width: $media550) {
  .planilha {
    &__titulo {
      font-size: 1.3rem;
    }
  }
  .porqueusar {
    padding: 3rem;
    margin: 0 auto;
    width: 70%;
    &__titulo {
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }
    &__paragraph {
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }
  .rodape {
    &__content {
      margin-top: 15%;
      height: 30%;
    }
  }
  .baixar__planilha {
    font-size: 1.3rem;
    border-radius: 5px;
  }
}
@media(min-width: $media) {
  .cabecalho {
    &__titulo--mobile, .baixar__aplicativo, .video__mobile, .video__div--mobile {
      display: none;
    }
  }
  .planilha {
    background-image: url('../../assets/img/background-topo--desktop.png');
    height: 30vw;
    margin-top: 0;
  }
  .planilha__divtitulo {
    margin-top: 8%;
    width: 30%;
  }
  .planilha__divbotao {
    margin-top: 14%;
  }
  .porqueusar {
    padding: 5rem;
    width: 50%;
    &__titulo {
      font-size: 1.7rem;
    }
    &__paragraph {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
  .rodape {
    background-image: url('../../assets/img/background-bottom-desktop.png');
    background-position: 0% 250%;
    height: 30vw;
    &__content {
      height: 20%;
      margin-top: 12vw;
      flex-direction: row;
    }
    &__imagem {
      width: 20%
    }
    &__paragraph {
      font-size: 16px;
      width: 40%;
    }
  }
}

@media(min-width: 1025px) {
  .rodape {
    &__content {
      margin-top: 15vw;
    }
  }
}